#main-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

#main-navigation li {
    float: right;
}

#main-navigation  li a {
    display: block;
    color: #006d9c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform
}

#main-navigation li a:hover {
    background-color:#e9e9e9;
}
#second-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

#second-navigation li {
    float: right;
}

#second-navigation li a {
    display: block;
    color: black;
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
    font-size: 17px;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

#second-navigation li a:hover {
    background-color: #3a4851;
    color: white;
}
     #logo {
         display: inline-block;
     }

    
</style>